.pageTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.pageTitle h4 {
    margin: 0;
    font-weight: 400;
    padding: 0 30px;
    font-size: 2.3rem;
}

.pageTitle h4 a {
    text-decoration: none;
    color: black;
    opacity: .8;
}

.pageTitle button {
    cursor: pointer;
    background-color:  red;
    text-align: center;
    letter-spacing: .5px;
    color: white;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    outline: none;
}

.pageTitle button:hover {
    opacity: .8;
}

.pageTitle .active {
    opacity: .8;
}


