.form {
    display: block;
    width: 100%;
}

.field {
    margin-bottom: 14px;
}

.field input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.field input:focus {
    border-bottom: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

.fieldPhoto {
    text-align: left;
    margin-bottom: 20px;
}

.btn {
    text-align: left;
}
.btn button {
    font-size: 20px;
    font-weight: lighter;
    padding: 5px 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: #26a69a;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    outline: none;
}

.btn button:hover {
    opacity: .5;
}

.btn .active {
    opacity: .5;
}

.photo {
    text-align: center;
    margin: 20px 0;
}

.photo img {
    width: 400px;
    height: 300px;
}
