.fieldPhoto {
    position: relative;
    text-align: left;
}

.fieldPhoto input {
    overflow: hidden;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.fieldPhoto input label {
    position: absolute;
    left: 0;
}

.photo {
    margin-top: 20px;
}
