.pageTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.pageTitle h4 {
    margin: 0;
    font-weight: 400;
    font-size: 2.3rem;
}

.averagePrice {
    text-align: left;
    padding: 15px 0;
    font-size: 20px;
}

.analyticsBlock {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.analyticsBlock h4 {
    margin: 0;
    font-weight: 400;
    text-align: left;
    padding: 15px 0;
    font-size: 20px;
}