.pageTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.pageTitle h4 {
    margin: 0;
    font-weight: 400;
    font-size: 1.9rem;
}

.overviewBlock {
    display: flex;
}

.overviewBlock .block {
    color: #fafafa;
    text-align: left;
    padding: 20px;
    margin-right: 20px;
}

.overviewBlock .block span {
    font-size: 24px;
    font-weight: 300;
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
}

.overviewBlock .block h4 {
    font-weight: 400;
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.9466666667rem 0 1.168rem 0;
}

.overviewBlock .block p {
    margin: 0;
}