.modalOverlay {
    position: fixed;
    z-index: 1002;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #000;
    will-change: opacity;
    opacity: .5;
}

.modal {
    z-index: 1003;
    display: block;
    opacity: 1;
    top: 10%;
    transform: scaleX(1) scaleY(1);
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}

.contentModal {
    text-align: left;
    margin: 20px;
}

.footer {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 4px 6px;
    text-align: right;
}

.footer button {
    margin-left: 10px;
}

@media (max-width: 600px) {
    .modal {
        margin: 0;
        width: 100%;
    }
}
